######################### xenial - 16.04 #######################################
deb ftp://dvdurep/ubuntu_16.04/ xenial main restricted universe multiverse
deb ftp://dvdurep/ubuntu_16.04/ xenial-updates main restricted universe multiverse
deb ftp://dvdurep/ubuntu_16.04/ xenial-backports main restricted universe multiverse
deb ftp://dvdurep/ubuntu_16.04/ xenial-security main restricted universe multiverse
deb ftp://dvdurep/ubuntu_16.04/ xenial-proposed main restricted universe multiverse
deb ftp://dvdurep/canonical_16.04/ xenial partner
######################## End of xenial - 16.04 #################################
